<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-user" routerDirection="back">
        <img src="assets/images/users_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="flex-wrapper">
    <ion-item *ngFor="let user of users" class="user" (click)="goToMatchPage(user)">
      <div *ngIf="user.top_image">
        <img src={{user.top_image.path}} class="userimg"/>
      </div>
    </ion-item>
  </div>

</ion-content>
