ion-content.background{
    --background: #D8EDFC;
    position: relative;
}

.button {
    padding: 10%;
    display: flex;
    background-color: transparentize($color: #000000, $amount: 1);
    margin-top: 10px;
    justify-content: space-between;
    border-radius: 16px;
    .user {
        object-fit: contain;
        width: 130px;
        height: 130px;
        background-color: #ccc;
        border: 1px solid #ccc;
        background-color: white;
        border-radius: 50%;
        margin: 8px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .user-img {
            // padding: 16px;
            height: 170px;
        }
    }
}


.button-wrapper {
    display: flex;
    justify-content: center;
}
.ok {
    width: 150px;
    height: 150px;
    background-color: #87CEFA;
    border-radius: 50%;
    margin-top: 100px;
    .text {
        text-align: center;
        margin: auto;
        font-size: 28px;
    }
}

