<ion-header>
  <ion-toolbar>
    <ion-title>プロフィールを選ぶ</ion-title>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-user" routerDirection="back">
        <img src="assets/images/users_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="button-wrapper">
    <div class="flex-wrapper">
      <div *ngFor="let photo of photoList | async" class="user" (click)="presentActionSheet(photo)">
        <img [src]="photo.url" class="user-img"/>
      </div>
    </div>
  </div>

</ion-content>
