ion-content.background{
    --background: #FCECF4;
}

.button-wrapper {
    padding-top: 32px; // 4の倍数がお勧め
    text-align: center;
    .flex-wrapper {
        padding-top: 48px;
        display: flex;
        flex-wrap: wrap;
        .photo {
            object-fit: contain;
            width: 45%;
            height: 170px;
            background-color: #ccc;
            border: 1px solid #ccc;
            
            background-color: white;
            border-radius: 16px;
            margin: 8px;
            .photoimg {
                padding: 16px;

            }
        }
    }
    .plus {
        padding-top: 48px;
        text-align: right;
    }
}

