<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>写真の追加</ion-title>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-guardian" routerDirection="back">
        <img src="assets/images/guardian_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">
  <div class="button-wrapper">
    <div>
      <button fill="clear" class="search">
        <img [src]="adminUser.top_image.path"/>
      </button>
    </div>
    <div class="flex-wrapper">
      <div>
        <button fill="clear" class="search" routerLink="/photo-selection" routerDirection="forward">
          <img src="assets/images/guardian_image/address_book.png"/>
        </button>
      </div>
    </div>
  </div>
</ion-content>

