<ion-header>
  <ion-toolbar>
    <ion-title>talk</ion-title>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-user" routerDirection="back">
        <img src="assets/images/users_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div *ngFor="let chatRoom of chatRoomList | async" class="photo" (click)="chatRoomUser(chatRoom)">
    <div class="button">
      <div *ngFor="let image of chatRoom.userImages">
        <img [src]="image" class="image">
      </div>
    </div>
  </div>
</ion-content>
