<ion-header>
  <ion-toolbar>
    <ion-title>プロフィール</ion-title>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-user" routerDirection="back">
        <img src="assets/images/users_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="button-wrapper">
      <div class="user">
        <img [src]="adminUser.top_image.path" class="user-img"/>
      </div>
    <div class="flex-wrapper">
      <div>
        <button fill="clear" class="search" routerLink="/profile-select" routerDirection="forward">
          <img src="assets/images/users_image/photo_camera.png"/>
        </button>
      </div>
    </div>
  </div>
</ion-content>
