<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!(showGuardian || showUser)" >
    <ion-button expand="full" (click)="loginAnonymously()" color="secondary">
      <ion-icon name="contact"></ion-icon>
      Login
    </ion-button>
  </ng-container>
  <ng-container *ngIf="showGuardian">
    <ion-card *ngIf="qrData" class="ion-text-center">
      <ngx-qrcode
      [qrc-element-type]="elementType"
      [qrc-value]="qrData"
      qrc-class="my-code">
      </ngx-qrcode>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="showUser">
    <ion-button expand="full" (click)="scanCode()" color="secondary">
      <ion-icon name="qr-scanner"></ion-icon>
      Scan Code
    </ion-button>

    <ion-button expand="full" (click)="presentAlert()" color="secondary">
      <ion-icon name="alert"></ion-icon>
      Alert
    </ion-button>
  
    <ion-card *ngIf="scannedCode">
      <ion-card-content>
        Result from Scan: {{ scannedCode }}
      </ion-card-content>
    </ion-card>
  </ng-container>
    
</ion-content>
