<ion-header>
  <ion-toolbar>
    <ion-title>ユーザーの選択</ion-title>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-guardian" routerDirection="back">
        <img src="assets/images/guardian_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div *ngFor="let adminUser of adminUsers" (click)="adminSet(adminUser)" class="flex-wrapper">
    <div *ngIf="adminUser.top_image" class="user">
    <img src={{adminUser.top_image.path}} class="user-img"/>
    </div>
    <div class="user-id">名前:{{adminUser.id}}</div>
  </div>
</ion-content>
