ion-content.background{
    --background: #D8EDFC;
    position: relative;
}

.button-wrapper {
    text-align: -webkit-center;
}

.button {
    background-color: transparentize($color: #000000, $amount: 1);
    margin-top: 10px;
}

