<ion-header>
  <ion-toolbar>
    <ion-title>保護者用管理画面</ion-title>
    <app-debug-menu></app-debug-menu>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-guardian" routerDirection="root">
        <img src="assets/images/guardian_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="button-wrapper">
    <div>
      <button fill="clear" class="button" routerLink="/approval-list" routerDirection="forward">
        <img src="assets/images/guardian_image/apploval.png" class="image"/>
      </button>
    </div>
    <div class="flex-wrapper">
      <div>
        <button fill="clear" class="button" routerLink="/talk-room" routerDirection="forward">
          <img src="assets/images/guardian_image/talk.png" class="image"/>
        </button>
      </div>
      <div>
        <button fill="clear" class="button" routerLink="/user-choice" routerDirection="forward">
          <img src="assets/images/guardian_image/profile.png" class="image"/>
        </button>
      </div>
    </div>
  </div>
</ion-content>
