<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>写真の選択</ion-title>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-guardian" routerDirection="back">
        <img src="assets/images/guardian_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">
  <div class="button-wrapper">
    <div class="flex-wrapper">
      <div *ngFor="let photo of photolist | async" class="user" (click)="presentActionSheet(photo)">
        <img [src]="photo.url" class="user-img"/>
      </div>
    </div>
    <div class="plus">
      <div>
        <button fill="clear" class="search" (click)="clickPlus()">
          <img src="assets/images/guardian_image/plus.png" class="plus-img"/>
        </button>
        <input type="file" name="photo" id="photo-upload" accept="image/*" (change)="previewPhoto($event)" style="display: none;">
      </div>
    </div>
  </div>
</ion-content>
