<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>写真の選択</ion-title>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-guardian" routerDirection="back">
        <img src="assets/images/guardian_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">
  <div class="button-wrapper">
    <div class="flex-wrapper">
      <div>
        <button class="search">
          <img src="assets/images/guardian_image/Rectangle1.png"/>
        </button>
      </div>
      <div>
        <button class="search">
          <img src="assets/images/guardian_image/Rectangle2.png"/>
        </button>
      </div>
    </div>
    <div class="flex-wrapper">
      <div>
        <button fill="clear" class="search">
          <img src="assets/images/guardian_image/Rectangle3.png"/>
        </button>
      </div>
      <div>
        <button fill="clear" class="search">
          <img src="assets/images/guardian_image/Rectangle4.png"/>
        </button>
      </div>
    </div>
    <div class="flex-wrapper">
      <div>
        <button fill="clear" class="search">
          <img src="assets/images/guardian_image/Rectangle5.png"/>
        </button>
      </div>
      <div>
        <button fill="clear" class="search">
          <img src="assets/images/guardian_image/Rectangle6.png"/>
        </button>
      </div>
    </div>
    <div class="plus">
      <div>
        <button fill="clear" class="search" routerLink="/verification-photo" routerDirection="forward">
          <img src="assets/images/guardian_image/plus.png"/>
        </button>
      </div>
    </div>
  </div>
</ion-content>
