ion-content.background{
    --background: #D8EDFC;
    position: relative;
}

.search {
    background-color: transparentize($color: #000000, $amount: 1);
}

.button-wrapper {
    padding-top: 32px; // 4の倍数がお勧め
    text-align: center;
    .flex-wrapper {
        @media (min-width: 1440px) {
            width: 20%;
        }
        @media (max-width: 1440px) {
        width: 30%;
        }
        @media (max-width: 960px) {
        width: 48%;
        }
        @media (max-width: 720px) {
        width: 60%;
        }
        @media (max-width: 540px) {
        width: 90%;
        }
        @media (max-width: 414px) {
        width: 90%;
        }
        padding-top: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        .user {
            @media (min-width: 1440px) {
                width: 148px;
                height: 148px;
            }
            @media (max-width: 1440px) {
                width: 148px;
                height: 148px;
            }
            @media (max-width: 960px) {
                width: 148px;
                height: 148px;
            }
            @media (max-width: 720px) {
                width: 148px;
                height: 148px;
            }
            @media (max-width: 540px) {
                width: 148px;
                height: 148px;
            }
            @media (max-width: 414px) {
                width: 148px;
                height: 148px;
            }
            @media (max-width: 410px) {
                width: 112px;
                height: 112px;
            }
            object-fit: contain;
            background-color: #ccc;
            border: 1px solid #ccc;
            background-color: white;
            border-radius: 50%;
            margin: 3%;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            .user-img {
                // padding: 16px;
                height: 170px;
            }
        }
    }
    .plus {
        padding-top: 48px;
        text-align: right;
    }
}

.plus-img {
    padding-right: 16px;
    padding-bottom: 16px;
}

