ion-content.background{
    --background: #D8EDFC;
    position: relative;
}

.search {
    background-color: transparentize($color: #000000, $amount: 1);
}

.button-wrapper {
    padding-top: 32px; // 4の倍数がお勧め
    text-align: center;
    .flex-wrapper {
        padding-top: 48px;
        display: flex;
        flex-wrap: wrap;
        .user {
            object-fit: contain;
            width: 45%;
            height: 170px;
            background-color: #ccc;
            border: 1px solid #ccc;
            background-color: white;
            border-radius: 50%;
            margin: 8px;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            .user-img {
                // padding: 16px;
                height: 170px;
            }
        }
    }
    .plus {
        padding-top: 48px;
        text-align: right;
    }
}

