<ion-header>
  <ion-toolbar>
    <ion-title>chat-room</ion-title>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-user" routerDirection="back">
        <img src="assets/images/users_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div *ngFor="let talk of talkList | async" class="photo">
    {{ talk.photo }}
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <button class="search" (click)="presentModal()">
        <img src="assets/images/users_image/speech_bubble4.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>