<ion-header>
  <ion-toolbar>
    <ion-title>チャットルーム</ion-title>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-user" routerDirection="back">
        <img src="assets/images/users_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div *ngFor="let talk of talkList" class="photo" [class.is-hidden]="!isFirstLoad">
    <div *ngIf="userRef.path != talk.user.ref.path" class="flex">
      <ion-avatar>
        <img [src]="otherUser.top_image.path">
      </ion-avatar>
      <img [src]="talk.stamp.src" class="talk">
    </div>
    <div *ngIf="userRef.path == talk.user.ref.path" class="flex own">
      <img [src]="talk.stamp.src" class="talkown">
      <ion-avatar>
        <img [src]="adminUser.top_image.path">
      </ion-avatar>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <button class="search" (click)="presentModal()">
        <img src="assets/images/users_image/speech_bubble4.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>