<ion-header>
  <ion-toolbar>
    <ion-title>リバティ</ion-title>
    <app-debug-menu></app-debug-menu>
    <ion-buttons slot="end">
      <button class="search" routerLink="/top-user" routerDirection="root">
        <img src="assets/images/users_image/home.png"/>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="button-wrapper">
    <div>
      <button fill="clear" class="search" routerLink="/search" routerDirection="forward">
        <img src="assets/images/users_image/search1.png"/>
      </button>
    </div>
    <div class="flex-wrapper">
      <div>
        <button fill="clear" class="search" routerLink="/talk" routerDirection="forward">
          <img src="assets/images/users_image/chat1.png"/>
        </button>
      </div>
      <div>
        <button fill="clear" class="search" routerLink="/profile" routerDirection="forward">
          <img src="assets/images/users_image/pallete1.png"/>
        </button>
      </div>
    </div>
  </div>
</ion-content>
